.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;

  .homeContainer {
    display: grid;
    grid-template-rows: auto auto;
    gap: 4rem;

    .bannerWrapper {
      .bannerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        max-width: 1100px;
        margin: 0 auto;
        text-align: center;

        @media screen and (min-width: 768px) {
          flex-direction: row;
          text-align: left;
        }

        .person {
          max-width: 100%;
          height: auto;
          display: block;

          @media screen and (max-width: 768px) {
            display: none;
          }
        }

        .infosContainer {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          article {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            h1 {
              font-size: 2.4rem;
              font-weight: 800;
              margin-bottom: 1rem;
              text-align: center;

              @media screen and (min-width: 768px) {
                font-size: 3rem;
              }
            }

            p, strong {
              font-size: 1.6rem;
              color: var(--gtc);

              @media screen and (min-width: 768px) {
                font-size: 2rem;
              }
            }

            strong {
              font-weight: 700;
            }
          }

          .devContainer {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            margin-top: 2rem;

            h2 {
              font-size: 1.4rem;
              text-align: center;

              @media screen and (min-width: 768px) {
                font-size: 1.6rem;
              }
            }

            .networkContainer {
              display: flex;
              flex-wrap: wrap;
              gap: 1rem;
              justify-content: center;

              a {
                background: #EFEFEF;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5rem 1rem;
                transition: 200ms;
                height: 3.4;
                width: auto;

                img {
                  height: 3.4rem;


                }

                &:hover {
                  opacity: 0.7;
                }
              }
            }
          }
        }
      }
    }

    .toolsSelector {
      background-color: #F8D5C5;
      border-radius: 10px;
      padding: 2rem 2rem;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: space-between;
      align-items: center;

      @media screen and (min-width: 768px) {
        padding: 2rem 10rem;
      }

      a {
        text-decoration: none;
        flex: 1 1 calc(50% - 2rem);
        max-width: 150px;

        @media screen and (min-width: 768px) {
          flex: 1 1 calc(25% - 2rem);
        }

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;
          color: #5E5454;

          p {
            font-weight: 700;
            font-size: 1.4rem;
            text-align: center;
          }

          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .appContainer {
    padding: 4rem;

    .homeContainer {
      gap: 8rem;

      .bannerWrapper {
        .bannerContainer {
          gap: 5rem;
        }
      }
    }
  }
}
