.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .appContainer {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .appContainer {
    padding: 2rem;

    .homeContainer {
      gap: 8rem;

      .bannerWrapper {
        .bannerContainer {
          gap: 5rem;
        }
      }
    }
  }
}
