.container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;

  header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    h1 {
      color: var(--gtc);
      font-weight: 700;
      font-size: 3rem;
    }
  }

  form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;



    .filesContainer {
      background-color: #bfb9ba;
      height: fit-content;
      min-height: 30rem;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-align: center;
      flex-direction: column;
      gap: 2rem;

      .imagesContainer {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
        /* espaçamento entre os itens */
        padding: 1rem;

        .imageContainer {
          button {
            position: absolute;
            // background: none;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: 200ms;
          }

          button:hover {
            opacity: 0.6;
          }

          img {
            width: 15rem;
            height: auto;
            border-radius: 10px;
          }
        }
      }


    }

    .submitButton {
      cursor: pointer;
      transition: 200ms;
      font-weight: 700;
      background-color: #7FD47F;
      border: none;
      border-radius: 10px;
      height: 5rem;
      color: #ffffff;
      margin-top: auto;
      align-self: center;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .submitButton:hover {
      opacity: 0.7;
    }
  }

  .downloadsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .download {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-align: center;
      align-items: center;
      border-color: #bfb9ba;
      padding: .5rem;
      border: 2px solid #bfb9ba;

      a {
        padding: 1rem 2rem;
        background-color: #7FD47F;
        color: #ffffff;
        border-radius: 10px;
        font-weight: 700;
      }
    }
  }

}